/* Estilos para profesores.html */
.price {
    background: url(Imagenes/Tren\ FI.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
